h1
  color: blue
  filter: grayscale(50%)

p
  color: #aaa

/*! purgecss start ignore */
::placeholder
  color: pink
/*! purgecss end ignore */

// sass comment
/* css comment */
.grid
  display: grid
