extends ./layout/BaseLayout

block content
  h1 Webpack 5 Home
  input(type="text" placeholder="I am input")
  div.image-container-1: img(src="~images/Editor-picks__420x280.jpg")
  div.image-container-2
  div.image-container-3
    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="none" viewBox="0 0 28 28">
      <rect width="28" height="28" fill="#fff" rx="3"/>
      <path fill="#4267B2" d="M25 0H3a3 3 0 00-3 3v22a3 3 0 003 3h8.578v-9.52H7.641V14h3.937v-3.415c0-3.884 2.313-6.03 5.855-6.03 1.696 0 3.47.303 3.47.303V8.67h-1.955c-1.925 0-2.526 1.195-2.526 2.42V14h4.299l-.688 4.48h-3.611V28H25a3 3 0 003-3V3a3 3 0 00-3-3z"/>
    </svg>
  div.image-container-4
  div.image-container-5(style="background-image: url(https://yunghsin-demo.hmgroup.com.tw/design/images/watch-lists/300/M79580-0007-300x300.jpg)")

